* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    background: #acb4b5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #213032;
    margin-right: 40px;
}

.nav-bar ul {
    display: flex;
    list-style: none;
}

.nav-bar ul li a {
    display: block;
    color: #edffef;
    font-size: 20px;
    padding: 8px 25px;
    transition: .2s;
    margin: 0 5px;
    text-decoration: none;
}

.nav-bar ul li:hover a {
    background-color: #97a2a3;
    color: #213032;
    cursor: pointer;
}

.recipe-hero {
    position: relative;
    height: 60vh;
    width: 100%;
}

.recipe-hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-hero .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.recipe-hero h1 {
    color: #edffef;
    font-size: 75px;
    margin: 0;
}

.recipe-details {
    padding: 100px 0;
    background-color: #f8f8f8;
}

.recipe-details .container {
    width: 80%;
    margin: 0 auto;
}

.recipe-details h2 {
    color: #213032;
    font-size: 36px;
    margin-bottom: 20px;
}

.recipe-details ul, .recipe-details ol {
    margin-left: 20px;
    margin-bottom: 20px;
}

.recipe-details li {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
}

footer {
    padding: 20px 0;
    background: #182f32;
    text-align: center;
    color: #97a2a3;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    color: #97a2a3;
    text-align: center;
    line-height: 40px;
    font-size: 38px;
}

.social-icon:hover {
    color: #314e52;
    cursor: pointer;
}
